*.swp
.color_coded
.vscode
.ycm_p
.ycm_extra_conf.py
*.pyc
*.egg-info
__pycache__

# build directories
release/
debug/
.DS_STORE
.idea/
config.log
target/
_build/
build/

# scala
dependency-reduced-pom.xml
*.iml

docker-compose.yml
.ipynb_checkpoints

# model for testing
model.h5
output.csv
